/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #fff8f0;
  background-image: url("https://img.lovepik.com/photo/48025/8230.jpg_wh860.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Header */
header {
  background-color: #e0465a;
  color: white;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}


/* Footer */
footer {
  background-color: #e0465a;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Form Container */
.form-container {
  background-color: white;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}

.form-container h2 {
  text-align: center;
  color: #8b4513;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #26bc15;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a0522d;
}


/* Cookie Bar */
.cookie-bar {
  display: none;
  max-width: 900px;
  margin: 20px auto;
  padding: 12px 20px;
  background-color: #fff1e6;
  border: 1px solid #8b4513;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* Cookie text */
.cookie-text {
  font-size: 14px;
  color: #333;
  white-space: nowrap;
}

/* Button container */
.cookie-actions {
  display: flex;
  gap: 10px;
}

/* Buttons */
.cookie-actions button {
  padding: 6px 14px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.accept {
  background-color: #4CAF50;
}

.reject {
  background-color: #d9534f;
}
